@import "@carbon/colors/scss";

.calender_view {
  position: static;
  height: 80vh;
}

.week_number_indicator {
  display: block;
  flex: 0 1 35px;
}
.week_number_disp {
  padding-top: 1rem;
}
.day_cell {
  flex: 1 1;
}

.day_tile {
  height: 100%;
  transition: background-color 0.4s ease-in-out;
  &:hover {
    background-color: #e4f0f5;
  }
}

.is_today {
  background-color: aquamarine;
}

.not_in_month {
  background-color: $cool-gray-20;
  color: $cool-gray-90;
}
