.calender_view {
  position: static;
  height: 80vh;
}
.week_number_indicator {
  display: block;
  flex: 0 1 35px;
  span{
    padding: 5px;
  }
}

.day_cell {
  .display_day{
    padding: 5px;
  }
  border: 1px solid #ccc;
}
